<div class="bg-white">
    <div class="px-6 py-16 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Book Your Free Consultancy</h2>
        <p class="mt-6 max-w-xl text-lg leading-8 text-gray-600">Take advantage of our limited-time offer: three free consultancy sessions per week for the next six weeks. Book a 45-minute session with Crispin Read, our founder and CEO, to discover how your SME can benefit from government-funded training.</p>
        <ul class="list-disc ml-4 mt-8 text-gray-600">
          <li>Get a Personalized Skills Gap Analysis</li>
          <li>Discover Available Funding Opportunities</li>
          <li>Receive a Customized Training Plan</li>
        </ul>
        <div class="calendly-inline-widget" data-url="https://calendly.com/crispin_read/skills-gap-consultancy" style="min-width:320px;height:1250px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
      </div>
    </div>
  </div>