<section id="faq" class="relative md:pt-16 py-8 md:pb-8 bg-grey-100 faq section-rounded -mt[3rem] px-6">
    <div class="inner">
      <div class="max-w-5xl md:px-8 mx-auto">
        <h2 class="text-center mb-10 md:mb-12">FAQs</h2>
        <p class="text-center mb-6">As an employer looking at upskilling your workforce, you may have questions around the how these courses are funded. Read on to discover what this means to you.</p>
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What is the SME Growth Network?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">A collaborative programme offering fractional marketing leadership, hands-on apprenticeship delivery, and bespoke strategies to help SMEs scale their marketing efforts sustainably.</p>
          </div>
        </div>
  
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
                <span>How is this programme funded?</span>
                <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
          <div class="faq-content">
            <p class="pt-8 mb-6 border-t-2 border-grey-100">
              The apprenticeship programme is fully funded by the government, reducing recruitment and training costs for SMEs.
            </p>
          </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What makes this approach different?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Our fractional marketing leaders provide strategic expertise at a fraction of the cost of hiring full-time. Apprentices deliver on these strategies, creating immediate value and building in-house capabilities.
            </p>
          </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What happens after the apprenticeship ends?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">You can hire the apprentice as a full-time employee, fully trained and already familiar with your business.</p>
          </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>How quickly will I see results?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="pt-8 mb-6 border-t-2 border-grey-100">Most clients see improvements within the first three months, thanks to our quick-win strategies.</p>
          </div>
        </div>

        <div class="max-w-2xl text-center mx-auto my-20">
          <h2 class="text-center mb-6">Ready to upskill your team?</h2>
          <a href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/crispin_read/skills-gap-consultancy'});return false;" class="bookacall inline-block text-md leading-sm text-white bg-gradient-to-r from-blue-200 to-blue-100 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Book a Call!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<!-- Calendly link widget end -->