<section id="faq" class="relative md:pt-16 py-8 md:pb-8 bg-grey-100 faq section-rounded -mt[3rem] px-6">
    <div class="inner">
      <div class="max-w-5xl md:px-8 mx-auto">
        <h2 class="text-center mb-10 md:mb-12">FAQs</h2>
        <p class="text-center mb-6">As an employer looking at upskilling your workforce, you may have questions around the how these courses are funded. Read on to discover what this means to you.</p>
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What types of training programs do you offer?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">We offer a wide range of training programs including one and two-day workshops, short courses that run over a few weeks, skills boot camps lasting about three months, and longer apprenticeships. All our programs are part-time and delivered remotely, designed to minimize resource drain and bring immediate benefits back to your business.</p>
          </div>
        </div>
  
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
                <span> How is the training funded?</span>
                <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
          <div class="faq-content">
            <p class="pt-8 mb-6 border-t-2 border-grey-100">
                Our training is funded through various sources such as local mayoral authorities, devolved powers, and government funding. Apprenticeships, for example, are funded through the Education and Skills Funding Agency (ESFA) using apprenticeship levy funds. Other programs are supported by the Adult Education Budget (AEB) and skills boot camps have their own dedicated funding. We handle the paperwork to ensure minimal administrative burden for your business.
            </p>
          </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>Who is eligible for the funded training?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Most of our programs require participants to be UK residents with the right to live and work here. Specific eligibility criteria may vary depending on the funding source. Typically, if your business is located in the UK and your employees meet these residency requirements, they are likely eligible. We navigate the eligibility criteria to match your needs.
            </p>
          </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>How do I book a free consultancy session?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Simply choose a convenient time using our online booking form and fill out a brief form about your business needs. During the 45-minute session, we will understand your business requirements and discuss how our training can benefit you, including exploring funding opportunities.</p>
          </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What makes The Coders Guild’s training different from other providers?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="pt-8 mb-6 border-t-2 border-grey-100">Our training is industry-led, current, and highly relevant. All programs are designed and delivered by professionals actively working in their fields. We customise training to match your business’ tools, processes, and needs, ensuring practical and applicable learning.</p>
          </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>How will the training be delivered?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">Most of our training is delivered online through a combination of group sessions and one-on-one support. Some programs, like apprenticeships, include in-person workshops. Training schedules are flexible and designed to fit around your business needs.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>Can the training be customised to our specific business needs?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">Absolutely. Our training is bespoke, tailored to align with your business’s tools, processes, and goals. We ensure that the training your team receives is directly applicable to their daily tasks and challenges.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>What are the benefits of upskilling our team through your programs?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">Upskilling increases your team’s billable worth, boosts morale, reduces attrition, and fosters a culture of continuous learning and knowledge sharing. It enhances overall efficiency and engagement within your team, contributing to your business’ success.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>What kind of support do you provide during and after the training?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">We offer extensive support, including pastoral care, CPD monitoring, and regular progress reviews. Our alumni network on Slack and LinkedIn provides ongoing engagement and resources even after the training ends.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>How do I know which courses are right for my team?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">Start with our skills gap analysis consultancy, where we assess your team’s needs and recommend appropriate courses. Our thorough IAG (Information, Advice, Guidance) process ensures the right people are on the right courses.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>What is the typical profile of your instructors?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">Our instructors are senior industry professionals with extensive experience in their fields. They bring real-world expertise to their teaching, ensuring the training is practical and up-to-date.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>How do you handle the administrative aspects of the government-funded training?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">With over ten years of experience, we streamline the administrative process to minimise the workload for your business. We gather necessary information, complete forms, and ensure compliance with all requirements, handling most of the paperwork on your behalf.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>What kind of feedback and evaluation methods do you use?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">We gather feedback at the end of every session from trainers, employers, and participants. Our continuous improvement process ensures that all training stays current and effective, with adjustments made based on regular feedback.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>Can smaller companies also benefit from your training programs?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">Yes, we specialize in making our training accessible to SMEs. Smaller firms often see immediate ROI from upskilling their teams. We provide support to reduce administrative burdens, making it easier for companies without dedicated HR departments.</p>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
              <span>What is the process for enrolling in a course?</span>
              <i class="fas fa-angle-down text-grey-300 text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">Enrollment typically involves filling out an initial form, followed by a meeting to confirm details, and signing the necessary paperwork. The specific process can vary depending on the funding requirements, but we guide you through each step to ensure smooth enrollment.</p>
            </div>
        </div>

        <div class="max-w-2xl text-center mx-auto my-20">
          <h2 class="text-center mb-6">Ready to upskill your team?</h2>
          <a href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/crispin_read/skills-gap-consultancy'});return false;" class="bookacall inline-block text-md leading-sm text-white bg-gradient-to-r from-blue-200 to-blue-100 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Book a Call!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<!-- Calendly link widget end -->