<footer class="" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="bg-blue-200 border-t border-white/10 flex items-center justify-center">
      <p class="text-xs leading-5 text-white text-center py-4">&copy; {% year %} SME Growth Hub. All rights reserved.</p>
    </div>
</footer>