<div class="bg-white py-8">
    <div class="relative isolate">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="mx-auto flex max-w-2xl flex-col gap-4 bg-white/5 px-6 py-16 ring-1 ring-white/10 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:py-20 xl:gap-x-20 xl:px-20 order-2">
          <div class="w-full flex-auto">
            <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl text-blue-200">Get Started</h2>
            <p class="mt-6 text-2xl font-semibold leading-8 text-gray-900">Ready to transform your team? Follow these easy steps:</p>
            <ol role="list" class="sr-only ml-4 list-decimal list-inside text-gray-900 mt-10 gap-x-8 gap-y-3 text-base leading-7 text-white">
              <li class="">
                Contact us - use the chatbot or the calendly options on this page!
              </li>
              <li class="">
                Schedule a Consultation
              </li>
              <li class="">
                Receive your training plan
              </li>
              <li class="">
                Start your training!
              </li>
            </ol>
          </div>
          <img class="w-full flex-none rounded-2xl object-cover" src="../img/phases-of-contact.jpg" alt="see the list for our phases of getting in touch!">

        </div>
      </div>
    </div>
  </div>
  