<div style="background-image: url('../img/endless-constellation.svg')">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-balance text-4xl font-semibold tracking-tight text-white sm:text-5xl">Let’s Talk About Your Marketing</h2>
        <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-white">Curious about how the SME Growth Network can support your growth? We’d love to hear about your business and help craft a plan that delivers.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-blue-600 shadow-sm hover:bg-blue-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Book Your Free Consultation Now</a>
        </div>
      </div>
    </div>
  </div>
  