<div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 py-16 lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <div>
            <h2 class="mx-auto max-w-md text-pretty text-center text-3xl font-bold tracking-tight lg:max-w-xl lg:text-left">Our Trusted Partners</h2>
            <p class="text-xl">Together, these partners form a powerful alliance that puts your business growth first.</p>
        </div>
        
        <div class="mt-8 flow-root self-center lg:mt-0">
          <div class="-ml-8 -mt-4 flex flex-wrap justify-between lg:-ml-4">
            <div class="ml-8 mt-4 flex shrink-0 grow justify-center lg:ml-4 lg:grow-0">
              <img class="h-12" src="../img/BAlogoWhite.avif" alt="Brand Ambition">
            </div>
            <div class="ml-8 mt-4 flex shrink-0 grow justify-center lg:ml-4 lg:grow-0">
              <img class="h-12" src="../img/The_Coders_Guild_Logo_Blue.svg" alt="Tuple">
            </div>
            <div class="ml-8 mt-4 flex shrink-0 grow justify-center lg:ml-4 lg:grow-0">
              <img class="h-12" src="../img/sandbox.svg" alt="Level">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  