<div class="text-white py-24 sm:py-32" style="background-image: url('../img/endless-constellation.svg')">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-white mt-2 text-pretty text-4xl font-semibold tracking-tight sm:text-5xl lg:text-balance">Services Tailored to You</h2>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-4">
        <div class="flex flex-col rounded-xl bg-white/30 p-6 ring-1 ring-inset ring-white/10">
          <dt class="flex items-center gap-x-3  font-semibold">
            Strategic Marketing Development
          </dt>
          <dd class="mt-4 flex flex-auto flex-col ">
            <ul class="list-disc">
              <li>Tailored plans based on your goals, capabilities, and market position.</li>
              <li>Campaigns designed for quick wins and sustainable impact.</li>
            </ul>
          </dd>
        </div>
        <div class="flex flex-col rounded-xl bg-white/30 p-6 ring-1 ring-inset ring-white/10">
          <dt class="flex items-center gap-x-3  font-semibold">
            Comprehensive Multi-Channel Marketing
          </dt>
          <dd class="mt-4 flex flex-auto flex-col ">
            <ul class="list-disc">
              <li>Coverage includes SEO, social media, PPC, email marketing, and video content.</li>
              <li>Apprentices trained by experts ensure flawless execution.</li>
            </ul>          
          </dd>
        </div>
        <div class="flex flex-col rounded-xl bg-white/30 p-6 ring-1 ring-inset ring-white/10">
          <dt class="flex items-center gap-x-3  font-semibold">
            Growth Hacking and Optimisation
          </dt>
          <dd class="mt-4 flex flex-auto flex-col ">
            <ul class="list-disc">
              <li>Advanced tactics to uncover hidden growth opportunities.</li>
              <li>Customised strategies to optimise ROI across all marketing efforts.</li>
            </ul>         
          </dd>
        </div>
        <div class="flex flex-col rounded-xl bg-white/30 p-6 ring-1 ring-inset ring-white/10">
          <dt class="flex items-center gap-x-3  font-semibold">
            Scalable Support
          </dt>
          <dd class="mt-4 flex flex-auto flex-col ">
            <ul class="list-disc">
              <li>From foundational branding to complex campaign management, we adapt as you grow.</li>
            </ul>
          </dd>
        </div>

      </dl>
    </div>
  </div>
</div>
