---
title: Unlock Your SME’s Potential with Expert-Led Tech Training
layout: home
order: 1
---

<div class="bg-white min-h-screen">

  <div class="relative min-h-screen">
    <div class="mx-auto min-h-screen">
      <div class="relative z-10 pt-14 lg:w-1/2 lg:max-w-2xl min-h-screen flex items-center justify-center">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
          <h1 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Transform Your SME's Marketing Potential with Our Growth Network
          </h1>
          <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Affordable marketing leadership, bespoke strategies, and hands-on support designed to deliver real results for your business.</p>
          <div class="mt-10 flex items-center gap-x-6">
            <a href="#" class="rounded-md bg-blue-200 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-900">Let’s Build Your Growth Story Together</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 min-h-screen">
      <img class="aspect-[3/2] object-cover lg:aspect-auto h-full" src="https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80" alt="">
    </div>
  </div>
</div>

{% include './_includes/why-choose.njk' %}
{% include './_includes/how-it-works.njk' %} 
{% include './_includes/trusted-partners.njk' %}
{% include './_includes/what-we-deliver.njk' %}
{% include './_includes/pricing.njk' %}
{% include './_includes/lower-cta.njk' %}
{% include './_includes/faqs.njk' %}








