<!doctype html>
<html lang="en" dir="ltr">
  <head>    
    <link rel="canonical" href="{{ config.url }}{{ page.url }}">
    <link rel="stylesheet" href="./css/styles.css" />

    <title>{% if title and title != 'Home' %}{{title}} - {% endif %}{{ config.siteTitle }}</title>

    <!-- Icons -->
    <link rel="shortcut icon" type="image/png" href="/img/Chevron-Left-List.svg" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/img/Chevron-Left-List.svg" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/img/Chevron-Left-List.svg" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/img/Chevron-Left-List.svg"sizes="256x256" />
    <link rel="apple-touch-icon" type="image/png" href="/img/Chevron-Left-List.svg" />

    <!-- Meta -->
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Facebook -->
    <meta property="og:title" content="{% if (title != 'Home') %}{{title}} - {% endif %}{{ config.siteTitle }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta property="og:url" content="{{ config.url }}{{ page.url }}">
    <meta property="og:image" content="{% if image %}{{ image }}{% else %}{{ config.image }}{% endif %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="{{ card }}">
    <meta name="twitter:site" content="{{ twitter }}">
    <meta name="twitter:title" content="{% if (title != 'Home') %}{{title}} - {% endif %}{{ config.siteTitle }}">
    <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="twitter:creator" content="{{ twitter }}">
    <meta name="twitter:image" content="{{ config.url }}{{ page.url }}">
    <meta name="twitter:domain" content="{% if image %}{{ image }}{% else %}{{ config.image }}{% endif %}">

  </head>
  <body>
    <header>
    </header> 
    <div>
			{{ content | safe }}
    </div>
    {% include '../_includes/footer.njk' %}
    <!-- Begin of Chaport Live Chat code -->
<script type="text/javascript">
  (function(w,d,v3){
  w.chaportConfig = {
  appId : '665de663a127ecb5226172fb'
  };
  
  if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
  </script>
  <!-- End of Chaport Live Chat code -->
  <script type="text/javascript" src="./js/faqs.js"></script>
  </body>
</html>
